@model Practice_Table_Generation.Models.TableGenetation

@{
	ViewData["Title"] = "EnterSubjectHours";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="GenerateTimetable">
	<div>
		<input type="hidden" asp-for="WorkingDays" />
		<input type="hidden" asp-for="SubjectsPerDay" />
		<input type="hidden" asp-for="TotalSubjects" />
		<input type="hidden" asp-for="TotalHours" />
		<h3>Enter Hours for Each Subject</h3>
		@for (int i = 0; i < Model.TotalSubjects; i++)
		{
			<div>
				<label>@($"Subject {i + 1}")</label>
				<input type="text" name="SubjectHoursList[@i].SubjectName" placeholder="Subject Name" />
				<span asp-validation-for="SubjectHoursList[@i].SubjectName"></span>
				<input type="number" name="SubjectHoursList[@i].Hours" placeholder="Hours" />
				<span asp-validation-for="SubjectHoursList[@i].Hours"></span>
			</div>
		}
	</div>
	<div>
		<button type="submit">Generate Timetable</button>
	</div>
</form>

