@{
    ViewData["Title"] = "Home Page";
}

@model TableGenetation

<form method="post" asp-action="GenerateTotalHours">
    <div class="row">
        <div class="col-lg-3 col-12">
            <label class="form-label">No of Working Days (1-7):</label>
            <input class="form-control" type="number" asp-for="WorkingDays" id="NoOfWorkingDays" />
            <span class="text-danger" asp-validation-for="WorkingDays"></span>
        </div>
        <div class="col-lg-3 col-12">
            <label class="form-label">No of Subjects per Day (1-8):</label>
            <input class="form-control" type="number" asp-for="SubjectsPerDay" id="NoOfSubjectsPerDay" />
            <span class="text-danger" asp-validation-for="SubjectsPerDay"></span>
        </div>
        <div class="col-lg-3 col-12">
            <label class="form-label">Total Subjects:</label>
            <input class="form-control" type="number" asp-for="TotalSubjects" id="TotalSubjects" />
            <span class="text-danger" asp-validation-for="TotalSubjects"></span>
        </div>
        <div class="col-lg-3 col-12">
            <label class="form-label">Total Hours:</label>
            <input class="form-control" type="text" id="TotalHours" asp-for="TotalHours" readonly />
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).on('keyup', '#NoOfWorkingDays, #NoOfSubjectsPerDay', function () {
            var workingDays = $('#NoOfWorkingDays').val();
            var subjectsPerDay = $('#NoOfSubjectsPerDay').val();
            if (workingDays > 0 && subjectsPerDay > 0) {
                var totalHours = workingDays * subjectsPerDay;
                $('#TotalHours').val(totalHours);
            }else{
                $('#TotalHours').val('');
            }
        });

        if('@TempData["InitialMessage"]' != ''){
            alert('@TempData["InitialMessage"]');
        }
    </script>
}